body {
	margin: 0;
	padding: 50px;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif, Arial, Helvetica;
	scroll-behavior: smooth;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* COLOR */
	color: #fafaff;
}

a {
	color: #00b8ff;
	font-weight: bold;
	padding: 5px;
	margin: 5px;
	text-decoration: none;
}

a:hover {
	color: #fafaff;
}

#gridContainer {
	padding-bottom: 10px;
}

table {
	background-color: #fafaff;
	border-spacing: 0;
}

td {
	/* border: 1px solid #f0f0f0; */
	border: none;
	/* border-radius: 2px; */
	width: 10px;
	height: 10px;
}

span {
	color: #222;
}

#start,
#clear,
#random {
	width: 80px;
	margin: 10px;
	padding: 0.75em;
	border-radius: 5px;
	border: none;
	background: #fafaff;
	color: #00b8ff;
}

#start,
#clear,
#random:hover {
	background: #00b8ff;
	color: #fafaff;
}

td.dead {
	background-color: transparent;
}

td.live {
	background-color: #00b8ff;
	/* border-radius: 10px; */
}
